* {
	margin: 0;
	padding: 0;
	box-shadow: none;
}

body {
	font-family: Segoe UI, arial, sans-serif;
	font-size: 1em;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	font-size: 25px;
}

/* default */
.max-wrapper {
	width: 980px;
	margin: 0 auto;
}

/* Header */
#header {
	background: #64c4a3;
	color: #fff;
	overflow: hidden;
	padding: 10px;
	border-radius: 25px 25px 0px 0px;
}
.primary-menu ul li {
	display: inline;
	margin-right: 5px;
}
.primary-menu ul li a {
	color: #fff;
	text-decoration: none;
}
.float-left {
	float: left;
}

.secondery-menu ul li  {
	display: inline;
	margin-right: 5px;
}
.float-right {
	float: right;
}

/* nav */
#nav {
	margin: 15px 0;
	overflow: hidden;
}
.logo {
	width: 140px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	margin-right: 30px;
}
#nav .primary-menu {
	width: 410px;
}
#nav .primary-menu ul li a {
	color: #444;
	display: inline-block;
	padding: 10px;
}
.search-form input[type="text"] {
	padding: 10px;
	background: #ddd;
	border: none;
	border-radius: 5px;
}
.search-form input[type="button"] {
	padding: 10px;
	background: #F05886;
	border: none;
	border-radius: 5px;
	color: #fff;
}
#nav .secondery-menu * {
	display: inline;
}
.icon-box {
	border: 1px dashed #444;
	padding: 5px 7px;
	text-decoration: none;
	color: #111;
	background: #eee;
	margin-left: 10px;
}

/*
#category * {
	display: inline;
}*/

#category .box {
	width: 110px;
	
}

#category .box h5 {
	text-align: center;
	
}